{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row title">
            <div class="col-md-12 center-block">
                <br>
                <h3 class="text-center">La médiation au service des particuliers et des entreprises</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-cover" style="background-position: top -10px right 50% !important; background-image: url({{ asset('images/bandeau1.jpg') }})"></div>

    <div class="container-fluid container-blue padding-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <h3 class="text-center white">PREVENIR et RESOUDRE amiablement vos conflits grâce à la
                        médiation</h3>
                    <br>
                    <br>
                    <p class="lead text-justify">
                        La médiation est un mode amiable de règlement des conflits qui permet aux parties, à l'aide d'un
                        <strong>tiers indépendant, neutre et impartial appelé le médiateur</strong>, de trouver
                        elles-mêmes
                        une ou plusieurs solutions à leur différend.
                        <br>
                        <br>
                        Tout ce qui est échangé dans le cadre d'une médiation est <strong>CONFIDENTIEL</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-grey padding-50">
        <div class="container">
            <div class="row">
                <h3 class="text-center blue">POURQUOI une médiation plutôt qu'une procédure judiciaire ?</h3>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover" style="font-size:120%;">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">
                                <i class="fas fa-handshake"></i>
                                Médiation
                            </th>
                            <th class="text-center">
                                <i class="fas fa-balance-scale"></i>
                                Procédure judiciaire
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Durée</strong></td>
                            <td>En général quelques mois (selon le nombre de réunions)</td>
                            <td>Plusieurs mois à plusieurs années selon le déroulement de la procédure…</td>
                        </tr>
                        <tr>
                            <td><strong>Coût</strong></td>
                            <td>Frais du médiateur</td>
                            <td>Frais d'avocat, frais de justice, frais d'huissiers, frais d'expertise judiciaire…</td>
                        </tr>
                        <tr>
                            <td><strong>Nature des échanges</strong></td>
                            <td>Confidentiels</td>
                            <td>Officiels</td>
                        </tr>
                        <tr>
                            <td><strong>Lien entre les parties</strong></td>
                            <td>Permet de restaurer ou d'améliorer le lien</td>
                            <td>Détériore le lien</td>
                        </tr>
                        <tr>
                            <td><strong>Résultat</strong></td>
                            <td>Solution négociée entre les parties</td>
                            <td>Aléatoire</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid padding-50">
        <div class="container">
            <div class="row">
                <h3 class="text-center blue">À qui s'adresse la médiation ?</h3>
                <br>
                <div class="col-sm-6 text-center">
                    <a class="oval btn btn-lg text-center" href="javascript:$('#entreprise').collapse('toggle');">
                        <i class="fas fa-industry size300percent"></i>
                        <strong>VOUS ETES UNE ENTREPRISE </strong>
                    </a>
                    <div id="entreprise" class="collapse">
                        <div class="lead well text-left corner-rounded">
                            La médiation permet de régler :
                            <br>
                            <ul>
                                <li>des conflits internes à l'entreprise (conflits entre associés, mésentente au sein
                                    d'un service…)
                                </li>
                                <li>des conflits externes à l'entreprises, par exemple avec un client ou un partenaire
                                    commercial (factures impayées, rupture des relations commerciales…)
                                </li>
                            </ul>
                            La médiation est un gain de temps - et donc de productivité - et permet d'aboutir à des
                            solutions
                            apaisées dans un cadre strictement confidentiel qui préserve l'image de l'entreprise.
                            <br>
                            <a href="{{ path('entreprise') }}">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 text-center">
                    <a class="oval btn btn-lg" href="javascript:$('#particulier').collapse('toggle');">
                        <span class="glyphicon glyphicon-user" style="font-size: 270%;"></span>
                        <strong>VOUS ETES UN PARTICULIER</strong></a>
                    <br>
                    <div id="particulier" class="collapse">
                        <div class="lead well text-left corner-rounded">
                            Vous pouvez faire appel à un médiateur pour tout type de conflit né ou susceptible de
                            naître :
                            <br>
                            <ul>
                                <li>conflits familiaux (séparation, divorce, succession…)</li>
                                <li>conflits de voisinage</li>
                                <li>conflits avec un professionnel</li>
                                <li>conflits avec votre propriétaire ou avec votre locataire</li>
                                <li>...</li>
                            </ul>
                            <a href="{{ path('particulier') }}">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-grey padding-50">
        <div class="container">
            <div class="row">
                <h3 class="text-center blue">QUAND mettre en œuvre une mesure de médiation ?</h3>
                <br>
                <p class="lead text-justify">
                    Il n'est pas nécessaire d'attendre que le conflit soit installé pour envisager une mesure médiation.
                    Au contraire, la médiation peut vous permettre de PREVENIR un éventuel conflit.
                    Par ailleurs, la saisine d'un Juge ne fait pas obstacle à la mise en œuvre d'une mesure de
                    médiation.
                    Elle pourra même être ordonnée par ce juge avec l'accord des parties : on parle alors de médiation
                    judiciaire.
                    <br>
                    On la distingue de la médiation conventionnelle qui peut être mise en œuvre par les parties en
                    dehors de toute procédure judiciaire.
                </p>
            </div>
            <br>
            <br>
            <div class="row">
                <h3 class="text-center blue">COMMENT mettre en œuvre une mesure de médiation ?</h3>
                <br>
                <p class="lead text-justify">
                    Rien de plus simple.
                    <br>
                    Vous prenez contact avec moi, par téléphone ou par écrit, et nous convenons ensemble d'un rendez-
                    vous.
                    <br>
                    Je me charge ensuite, avec votre accord, de proposer la mesure de médiation à l'autre partie.
                </p>
            </div>
        </div>
    </div>


    <div class="container-fluid container-blue padding-50">
        <div class="container">
            <div class="row">
                <h3 class="text-center white">Votre médiateur</h3>
                <br>
                <p class="lead text-justify">
                    <img class="img-thumbnail" style="width: 18%; min-width: 100px; float: right; margin-left: 20px;"
                         src="{{ asset('images/david-corvee.jpg') }}" alt="David Corvée, votre médiateur">
                    Je suis médiateur <strong>inscrit officiellement auprès de la Cour d’appel de BORDEAUX.</strong>
                    <br>
                    <br>
                    Je suis diplômé de l’Institut de Formation à la Médiation et à la Négociation (IFOMENE) à PARIS et
                    adhérent de l’Association Nationale des Médiateurs (ANM).
                    <br>
                    <br>
                    En tant que médiateur, <strong><u>je suis indépendant, impartial et neutre par rapport à votre
                            conflit.</u></strong>
                    <strong>En parallèle, j’exerce la profession d’avocat</strong> depuis le début de l’année 2013. Je
                    suis inscrit au Barreau de PERIGUEUX. Je suis en outre formé au processus collaboratif par
                    l’Association Française
                    des Praticiens du Droit Collaboratif (AFPDC)
                    <br>
                    <br>
                    <a href="{{ path('mediateur') }}">En savoir plus</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid padding-50">
        <div class="container">
            <div class="row">
                <h3 class="text-center blue">La médiation, COMBIEN cela coûte ?</h3>
                <br>
                <br>
                <p class="lead text-justify">
                    La médiation s’adapte à vos besoins et à vos moyens.
                    <br>
                    <br>
                    Les honoraires font systématiquement l’objet d’une convention de médiation et sont partagés entre
                    les parties à parts égales (sauf accord contraire).
                    <br>
                    <br>
                    Un forfait d’honoraires pour 2 réunions de médiation est fixé en fonction de la situation respective
                    des parties et, éventuellement, de l’enjeu du litige lorsque celui-ci est déterminable.
                    <br>
                    <br>
                    Au-delà de 2 réunions de médiation, les honoraires de médiation sont fixés en fonction d’un taux
                    horaire.
                    <br>
                    <br>
                    La médiation peut être précédée d’une réunion d’information sur l’objet et le déroulement d’une
                    mesure de médiation.
                </p>
            </div>
        </div>
    </div>


    <div class="container-fluid padding-50">
        <div class="container">
            <div class="row">
                <h3 class="text-center blue">Dernières publications</h3>
                <br>
                <br>
                {% if publications is defined %}
                    {% for publication in publications %}
                        <div class="col-sm-12 well" style="background-color: #f3f3f3">
                            <h4 style="margin:0;">
                                <small>{{ publication.publishedAt|date("d/m/Y") }}</small>
                                &nbsp; &nbsp;
                                <a href="{{ url('publication', {'id': publication.id}) }}">{{ publication.title|e }}</a>
                                {% if app.user %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ url('adminEditPublication', {'id': publication.id}) }}"
                                           class="btn btn-primary">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier
                                        </a>
                                        <a href="{{ url('adminDeletePublication', {'id': publication.id}) }}"
                                           class="btn btn-xs btn-danger"
                                           onclick="return confirm('Confirmer la suppression')">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            Supprimer
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </h4>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
